<!-- nav -->
<nav class="navbar navbar-expand " *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Dashboard</a>
        <a class="nav-item nav-link" routerLink="/heroes">Heroes</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>

                <app-messages *ngIf="currentUser"></app-messages>
            </div>
        </div>
    </div>
</div>